.lenprogram{ 
    max-width: 85%;
    margin: center;
    text-align: center;
}
.lenprogram{
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.lenprogram img{
    max-width: 40%;
}
.lenprogram img{
    max-width: 30%;
}


