.CardP{
    width: 300px;
    border-radius: 20px;
    background-color: rgb(160, 218, 199);
    box-shadow: 2px 2px 5px rgb(62, 169, 148);
    padding: 10px;
    text-align: center;
    border: 2px rgb(80, 255, 223);
}